.inside {}

.inside-text>h4 {
	font-weight: 700;
	font-size: 91px;
	line-height: 100%;
	/* or 91px */

	letter-spacing: -0.03em;
}

.inside-text>h4>p {
	color: var(--green);
}

.inside-text>span {
	font-weight: 600;
	font-size: 23px;
	line-height: 150%;
	/* or 34px */
	position: absolute;
	padding-top: 40px;
	letter-spacing: -0.03em;
	max-width: 392px;
	color: #A0A0A0
}

.inside-img>img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.inside-img {
	position: relative;
}

.inside-img>button {
	background: var(--green);
	padding: 2px 7.2px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 500;
	font-size: 18px;
	border: none;
	outline: none;
}

.inside-img>button:hover {
	filter: drop-shadow(0px 0px 50px rgba(155, 240, 11, 0.5));
	box-shadow: 0px 3.29023px 22.6437px #B7FF3D;
}

.inside-img>button:nth-of-type(1) {
	position: absolute;
	right: 40%;
	top: 100px;
}

.inside-img>button:nth-of-type(2) {
	position: absolute;
	right: 35%;
	top: 35%;
}

.inside-img>button:nth-of-type(3) {
	position: absolute;
	left: 42%;
	bottom: 48%;
}

.inside-img>button:nth-of-type(4) {
	position: absolute;
	left: 22%;
	bottom: 48%;
}

.inside-bottom {
	text-align: center;
}

.inside-bottom>h3 {
	font-weight: 700;
	font-size: 91px;
	line-height: 115%;
}

.inside-bottom>span {
	font-weight: 700;
	font-size: 53px;
	line-height: 150%;
	padding-bottom: 16px;
}

.inside-bottom>p {
	font-weight: 700;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--green);
}

.inside-bottom__img {
	position: relative;
}
.inside-bottom__img > img:nth-child(1) {
	position: relative;
	object-fit: contain;
	width: 100%;
	height: 100%;
}
.inside-bottom__img > img:nth-child(2) {
	position: absolute;
	left: 26%;
	top: 10%;
	object-fit: contain;
}
.inside-bottom__img > img:nth-child(3) {
	position: absolute;
	/* bottom: -26%; */
	top: -28%;
	left: 0;
	right: 0;
	object-fit: contain;
	z-index: -99;
	width: 100%;
	height: 100%;
}


@media screen and (max-width:768px) {
	.inside-text>h4 {
		font-size: 50px;
		padding-bottom: 20px;
	}

	.inside-text>span {
		font-size: 20px;
		position: static;
	}

	.inside-img>button {
		display: none;
	}
	.inside-bottom > h3 {
	font-size: 70px;
	}
	.inside-bottom > span {
		font-size: 20px;
	}
	.inside-bottom__img > img:nth-child(2) {
		transform: scale(0.6);
		top: -10%;
		left: 15%;
	}
}